<div>Área de Empleabilidad | Email: <a href="mailto:empleos@idat.edu.pe">empleos@idat.edu.pe</a> | </div>
<div>Teléfono: (+51) 315-9600 Anexo 1438 | Web: <a href="http://www.idat.edu.pe/empleabilidad/" target="_blank">empleabilidad.idat.edu.pe</a></div>
<div>Mesa de Ayuda | Email: <a href="mailto:mesadeayuda@utp.edu.pe">mesadeayuda@utp.edu.pe</a> | Teléfono: (+51) 315-9606 | Web: <a href="http://mesadeayuda.utp.edu.pe/" target="_blank">mesadeayuda.utp.edu.pe</a></div>
<div>Universidad Tecnológica del Perú | <a href="@Url.Action("PoliticasDePrivacidad", "Home")" target="_blank">Política de Privacidad</a> | <a href="@Url.Action("TerminosDeUso", "Home")" target="_blank">Términos y Condiciones</a> | <a href="@Url.Action("FAQ", "Home")" target="_blank">FAQ</a></div>