<ul class="nav navbar-nav navbar-right" style="padding-right: 15px; ">
    <li style="width: 36px; height: 36px;"><a title="Home" target="_blank" href=@Url.Action("Index","Home") class="fui fa-2x menuOpcionesAd" style="padding: 7px;"><img src="~/img/IDAT/ico-home.png" alt="Home" width="24" /></a></li>
    <li style="width: 36px; height: 36px;"><a title="Contacto" href="@Url.Action("Contacto", "UTP")?pantalla=ALUMNO_CONTACTO" class="fui fa-2x menuOpcionesAd" style="padding: 7px;" target="_blank"><img src="~/img/IDAT/ico-programas-in-house.png" alt="Contacto" width="22" /></a></li>
    <li style="width: 36px; height: 36px;"><a title="Ubicación" href="@Url.Action("Ubicacion", "UTP")?pantalla=ALUMNO_CONTACTO" class="fui fa-2x menuOpcionesAd" style="padding: 7px;" target="_blank"><img src="~/img/IDAT/ico-sedes.png" alt="Contacto" width="22" /></a></li>    
    <li style="width: 36px; height: 36px;"><a title="Cerrar Sesión" href=@Url.Action("Logout", "UTP") class="fui fa-2x menuOpcionesAd" style="padding: 8px 6px;"><img src="~/img/IDAT/cerrar-sesion.png" alt="Logout" width="24" /></a></li>
    <li style="width: 36px; height: 36px;"><a title="Facebook" href="https://www.facebook.com/groups/1594809107435439/" target="_blank" class="fui fa-2x menuOpcionesAd" style=" padding: 7px 6px;"><img src="~/img/IDAT/facebook.png" width="24" /></a></li>
</ul>