@using UTP.PortalEmpleabilidad.Modelo
@{
    ViewBag.Title = "Convenios";
}

<body class="home">
    <section class="home__body" style="padding-top: 64px;">
        @Html.Partial("Menu")
        <div class="bg"></div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row" style="color: #fff;">
                <div class="col-sm-12">
                    <h2 class="text-center">Convenios</h2>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/convenio1.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/alicorp.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/33.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/primax.png"></td>
                            </tr>
                            <tr>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/cedro.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/35.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/34.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/17.png"></td>
                            </tr>
                            <tr>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/convenio3.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/31.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/16.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/ransa.png"></td>
                            </tr>
                            <tr>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/11.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/golden.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/lungfung.png"></td>
                                <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/naviero.png"></td>
                            </tr>
                            
                            <tr>
                                
                            </tr>
                        </tbody>
                        
                        
                        

                        
                        @*<td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/14.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/15.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/18.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/19.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/20.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/21.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/22.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/23.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/24.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/25.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/26.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/27.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/28.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/29.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/30.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/32.png"></td>
                        <td><img src="http://www.idat.edu.pe/frontend/static/web/public/convenios/plaza_vea.png"></td>*@

                        <div class="clear"></div>
                    </table>
                </div>
                <div class="row">
                   
                </div>
            </div>
    
        }

        @Html.Partial("Footer")
    </section>
</body>