
@{
    ViewBag.Title = "FAQ";
}

<div class="container">
    <br />
    <h4 style="text-align:center;"><strong>FAQ - Respuestas a preguntas frecuentes</strong></h4>
    <hr />
    <div class="panel-group" id="FAQ-001" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFAQ001">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#FAQ001" href="#collapseFAQ001" aria-expanded="true" aria-controls="collapseFAQ001">
                        1. ¿Enim eiusmod high life accusamus?
                    </a>
                </h4>
            </div>
            <div id="collapseFAQ001" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQ001">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="FAQ-002" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFAQ002">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#FAQ002" href="#collapseFAQ002" aria-expanded="true" aria-controls="collapseFAQ002">
                        2. ¿Pariatur cliche reprehenderit?
                    </a>
                </h4>
            </div>
            <div id="collapseFAQ002" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQ002">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="FAQ-003" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFAQ003">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#FAQ003" href="#collapseFAQ003" aria-expanded="true" aria-controls="collapseFAQ003">
                        3. ¿Wolf moon officia aute?
                    </a>
                </h4>
            </div>
            <div id="collapseFAQ003" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQ003">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="FAQ-004" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFAQ004">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#FAQ004" href="#collapseFAQ004" aria-expanded="true" aria-controls="collapseFAQ004">
                        4. ¿Terry richardson ad squid?
                    </a>
                </h4>
            </div>
            <div id="collapseFAQ004" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQ004">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="FAQ-005" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFAQ005">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#FAQ005" href="#collapseFAQ005" aria-expanded="true" aria-controls="collapseFAQ005">
                        5. ¿Cliche reprehenderit, enim eiusmod high life?
                    </a>
                </h4>
            </div>
            <div id="collapseFAQ005" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQ005">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>


