
@{
    ViewBag.Title = "Terminos de uso";
}

<div class="container" style="padding: 24px 0; text-align: justify;">
    <h1 style="text-align:center; margin-bottom: 0;"><strong>TÉRMINOS Y CONDICIONES DE USO DEL SITIO WEB</strong></h1>
    <h1 style="text-align:center; margin-top: 0;"><strong>CONDICIONES DE USO</strong>
    </h1>
    <p>
        El acceso a este sitio web y páginas relacionadas implica que aceptas expresamente los términos y condiciones generales descritos a continuación. En caso de no aceptarlos, te solicitamos no , acceder ni manipular la información de los servicios ofrecidos por este sitio pues podrías estar haciendo un uso indebido del mismo.
    </p>
    <p>
        Este sitio web y sus páginas relacionadas tiene por objeto la promoción y divulgación de las actividades académicas, las carreras, los cursos –entre otros- que La Universidad Tecnológica del Perú S.A.C. (la “Sociedad” lo el “Grupo UTP”)) ofrece a través de la Universidad Tecnológica del Perú (la “UTP”) y del Instituto Superior Tecnológico IDAT (“IDAT”).
    </p>
    <p>
        Este sitio web está dirigido a nuestros estudiantes, docentes, colaboradores así como a terceros no vinculados con el Grupo UTP.
    </p>
    <ol>
        <li>
            <h3>Derechos de Propiedad Intelectual</h3>
            <p>Salvo se indique de manera distinta en este sitio Web o en sus páginas relacionadas, el Grupo UTP es propietario o de otra manera titular de los derechos de propiedad intelectual que se muestran en esta página. Queda prohibido el uso de cualquier derecho de propiedad intelectual sin contar con el consentimiento previo, expreso y por escrito del Grupo UTP.</p>
        </li>
        <li>
            <h3>Derechos de Autor</h3>
            <p>Este sitio se encuentra protegido por la normativa vigente sobre derechos de autor. Todos los derechos involucrados, como por ejemplo su contenido y su diseño visual, son de titularidad de la Sociedad, por lo que se encuentra estrictamente prohibido su empleo, modificación, reproducción, distribución, transmisión o comercialización de los derechos involucrados sin el permiso previo, expreso y por escrito del aquella, salvo los casos de derechos de cita, empleo para finalidades educativas y los demás usos honrados reconocidos.</p>
        </li>
        <li>
            <h3>Signos distintivos y patentes</h3>
            <p>A menos que se señale algo distinto en nuestro portal, los signos distintivos y patentes registrados de acuerdo a la legislación nacional y supranacional, son propiedad del Grupo UTP. Su uso está prohibido sin el consentimiento previo, expreso y por escrito del Grupo UTP o de su titular.</p>
        </li>
        <li>
            <h3>Obligaciones de los usuarios registrados</h3>
            <p>Si te encuentras registrado en la UTP o IDAT, sea como alumno, docente, colaborador o de cualquier otra manera, eres un usuario registrado. El acceso a los servicios a través de tu nombre de usuario y contraseña es de tu plena y exclusiva responsabilidad, debiendo mantener los mismos en estricta confidencialidad.</p>
            <p>Si presumes que algún tercero estaría utilizando tu nombre de usuario y contraseña, notifica de inmediato esta circunstancia a la Mesa de Ayuda (mesadeayuda@grupoutp.edu.pe) para prevenir cualquier acceso no autorizado con tu identidad.</p>
            <p>Toda transacción realizada con tu nombre de usuario y contraseña será vigilada para que no intente hacer mal uso de los servicios que se les brinda.</p>
            <p>No debes usar tu nombre de usuario y contraseña para ningún propósito ilegal o reñido contra la moral o las buenas costumbres.</p>
        </li>
        <li>
            <h3>Obligaciones de los usuarios en general</h3>
            <p>El acceso de los servicios Web es de carácter público, como usuario, estás obligado a utilizar los servicios y contenidos que te proporciona este sitio Web conforme a las leyes de la República del Perú y a los principios de buena fe y usos generalmente aceptados y a no contravenir con su actuación a través de la Web.</p>
            <p>Mediante el uso de nuestros servicios a través de este sitio Web declaras bajo juramento que la información que ingresas es verdadera y exacta.</p>
        </li>
        <li>
            <h3>Modificaciones a los Términos y Condiciones</h3>
            <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones a nuestros términos y condiciones de uso, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.</p>
            <p>Estas modificaciones estarán disponibles al público a través de nuestras páginas de internet.</p>
        </li>
        <li>
            <h3>Delimitación de responsabilidad</h3>
            <p>Nuestro compromiso contigo es mantener actualizado este sitio Web de manera permanente. Sin embargo, podemos incurrir en imprecisiones u omisiones. En cualquier de estos casos, el Grupo UTP no asume responsabilidad por cualquier daño, perjuicio directo, indirecto, incidental, consecuente o especial que se derive del uso de la información contenida en este sitio Web o en las páginas Web que aquí se refieran.</p>
            <p>No podemos garantizar un servicio libre e ininterrumpido de este sitio Web pero te manifestamos que es nuestra voluntad realizar nuestros mayores esfuerzos para que ello sea así.</p>
        </li>
    </ol>
</div>


