<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="NuevoUsuario">Nuevo Usuario</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Tipo</span>
                    <select id="Lista" class="form-control">
                        <option value="" selected>Tipo de Ubicación</option>
                        <option>
                            Oficina Principal
                        </option>
                        <option>
                            Sucursal
                        </option>
                        <option>
                            Planta
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Nombre</span>
                    <input type="text" class="form-control" placeholder="Nombre de la Ubicación">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">E-Mail</span>
                    <input type="text" class="form-control" placeholder="Dirección electrónica para la Ubicación">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Teléfono</span>
                    <input type="text" class="form-control" placeholder="Teléfono de la Ubicación">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Dirección</span>
                    <textarea class="form-control" placeholder="Calle y Número de la Ubicación, interior, depto, oficina, urbanización" rows="2"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Departa-<br />mento</span>
                    <select id="Lista" class="form-control">
                        <option value="" selected>Departamento, Región o Estado</option>
                        <option>Lima</option>
                        <option>Cajamarca</option>
                        <option>Loreto</option>
                        <option>La Libertad</option>
                        <option>Ancash</option>
                        <option>Ica</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Ciudad</span>
                    <select id="Lista" class="form-control">
                        <option value="" selected>Seleccione Ciudad</option>
                        <option>Lima</option>
                        <option>Cajamarca</option>
                        <option>Chincha</option>
                        <option>Pisco</option>
                        <option>Tacna</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Distrito</span>
                    <select id="Lista" class="form-control">
                        <option value="" selected>Seleccione Distrito</option>
                        <option>Cercado de Lima</option>
                        <option>Barranco</option>
                        <option>Miraflores</option>
                        <option>San Isidro</option>
                        <option>Pueblo Libre</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group fuente-pequeña">
                    <span class="input-group-addon">Estado</span>
                    <select id="Lista" class="form-control">
                        <option value="" selected>Seleccione Estado</option>
                        <option>Activa</option>
                        <option>No Activa</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align:right;">
                <button type="button" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;">Guardar</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
    </div>
</div>
