@model UTP.PortalEmpleabilidad.Modelo.EmpresaUsuario

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="NuevoUsuario">Nuevo Usuario</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Nombres</span>
                    <input type="text" class="form-control" placeholder="Nombres del Usuario">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Apellidos</span>
                    <input type="text" class="form-control" placeholder="Apellidos del Usuario">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Usuario</span>
                    <input type="text" class="form-control" placeholder="Nombre de Usuario">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Tipo<br />Doc</span>
                    <select class="form-control">
                        <option value="">
                            -- Especifique Tipo de Documento --
                        </option>
                        <option>
                            DNI
                        </option>
                        <option>
                            Pasaporte
                        </option>
                        <option>
                            Carnet Extrangería
                        </option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Sexo</span>
                    <select class="form-control">
                        <option value="">
                            -- Especifique Sexo --
                        </option>
                        <option>
                            Masculino
                        </option>
                        <option>
                            Femenino
                        </option>
                        <option>
                            No especificado
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Locación</span>
                    <select class="form-control">
                        <option value="">
                            -- Especifique Locación de trabajo --
                        </option>
                        <option>
                            Sede Chorrillos
                        </option>
                        <option>
                            Sede Central
                        </option>
                        <option>
                            Sede X
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Teléfono<br />fijo</span>
                    <input type="text" class="form-control" placeholder="Cod.Ciudad + Nro.Teléfono">
                </div>
            </div>
        
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Anexo</span>
                    <input type="text" class="form-control" placeholder="Número de Anexo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Celular</span>
                    <input type="text" class="form-control" placeholder="Número de Celular">
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-12" style="text-align:right;">
                @*<button type="button" class="btn btn-default color-paleta4 fuente-pequeña" style="color: white; margin-bottom: 10px;">Guardar</button>*@

                <button type="submit" class="btn btn-default color-paleta4 fuente-pequeña">Guardar</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
    </div>
</div>
