<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequisito" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequisito" aria-expanded="true" aria-controls="collapseRequisito" class="fuente-seccion">
                Requisitos de la Oferta
            </a>
        </h5>
    </div>
    <div id="collapseRequisito" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequisito">
        <div class="panel-body fuente-pequeña">
            <div class="row">
                <div class="col-md-12">
                    <strong class="sub-titulo-seccion">Estudios</strong>
                </div>
            </div>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Tipo</td>
                    <td class="celda-datos">Universitario</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Carrera</td>
                    <td class="celda-datos">ING. INDUSTRIAL Y DE SISTEMAS</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Especialidad</td>
                    <td class="celda-datos">ING. SISTEMAS E INFORMATICA</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Ciclo mínimo</td>
                    <td class="celda-datos">3</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Estado</td>
                    <td class="celda-datos">Bachiller</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Requerido</td>
                    <td class="celda-datos">Si</td>
                </tr>
            </table>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Tipo</td>
                    <td class="celda-datos">Post-Grado</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Carrera</td>
                    <td class="celda-datos">Business Administration</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Especialidad</td>
                    <td class="celda-datos">Business Administration</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Ciclo mínimo</td>
                    <td class="celda-datos">-</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Estado</td>
                    <td class="celda-datos">Magister</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Requerido</td>
                    <td class="celda-datos">No</td>
                </tr>
            </table>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <strong class="sub-titulo-seccion">Expericencia x Sector</strong>
                </div>
            </div>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Sector</td>
                    <td class="celda-datos">Tecnología y Software</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Años de experiencia</td>
                    <td class="celda-datos">3</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Excluyente</td>
                    <td class="celda-datos">Si</td>
                </tr>
            </table>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Sector</td>
                    <td class="celda-datos">Servicios</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Años de experiencia</td>
                    <td class="celda-datos"></td>
                </tr>
                <tr>
                    <td class="celda-nombre">Excluyente</td>
                    <td class="celda-datos">No</td>
                </tr>
            </table>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <strong class="sub-titulo-seccion">Información Adicional</strong>
                </div>
            </div>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Tipo</td>
                    <td class="celda-datos">Sistemas</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Conocimiento</td>
                    <td class="celda-datos">Microsoft Project 2010</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Nivel</td>
                    <td class="celda-datos">Experto</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Años de experiencia</td>
                    <td class="celda-datos">2</td>
                </tr>
            </table>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Tipo</td>
                    <td class="celda-datos">Pasatiempo</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Conocimiento</td>
                    <td class="celda-datos">Karate</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Nivel</td>
                    <td class="celda-datos">Medio</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Años de experiencia</td>
                    <td class="celda-datos">3</td>
                </tr>
            </table>
            <br />
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">Tipo</td>
                    <td class="celda-datos">Sistemas</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Conocimiento</td>
                    <td class="celda-datos">Gestión de Proyectos PMI</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Nivel</td>
                    <td class="celda-datos">Experto</td>
                </tr>
                <tr>
                    <td class="celda-nombre">Años de experiencia</td>
                    <td class="celda-datos">5</td>
                </tr>
            </table>
            <br />
        </div>
    </div>
</div>
