<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDetalle" style="padding: 2px 2px 2px 6px;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDetalle" aria-expanded="true" aria-controls="collapseDetalle" class="fuente-seccion">
                Condiciones
            </a>
        </h5>
    </div>
    <div id="collapseDetalle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDetalle">
        <div class="panel-body fuente-pequeña">
            <table class="fuente-pequeña">
                <tr>
                    <td class="celda-nombre">
                        <span>Cargo</span>
                    </td>
                    <td class="celda-datos">
                        <strong>Gerente de Proyectos en Desarrollo de Software</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Publicado el
                    </td>
                    <td class="celda-datos">
                        <strong>20/10/2014</strong>
                    </td>
                </tr>

                <tr>
                    <td class="celda-nombre">
                        Recibir CVs hasta el
                    </td>
                    <td class="celda-datos">
                        <strong>30/11/2014</strong><span>&nbsp;&nbsp;&nbsp;<button class="btn btn-default color-paleta2">Finalizar ahora</button></span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Cargo
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>Ejecutivo</strong></span><span class="valor-icono2">H</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Trabajo
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>Tiempo completo</strong></span><span class="valor-icono2">I</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Tipo Contrato
                    </td>
                    <td class="celda-datos">
                        <span class="valor-palabra"><strong>En Planilla</strong></span><span class="valor-icono2">N</span>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Duración
                    </td>
                    <td class="celda-datos">
                        <strong>Indefinido</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Horario
                    </td>
                    <td class="celda-datos">
                        <strong>09:00 a 18:00</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Remuneración
                    </td>
                    <td class="celda-datos">
                        <strong>S/.7,000 a S/.9,000</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Área
                    </td>
                    <td class="celda-datos">
                        <strong>Sistemas</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Vacantes
                    </td>
                    <td class="celda-datos">
                        <strong>2</strong>
                    </td>
                </tr>
                <tr>
                    <td class="celda-nombre">
                        Ubicación
                    </td>
                    <td class="celda-datos">
                        <strong>Software Factory: Calle Saturno 1067, Cercado de Lima</strong>
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </div>
</div>
