@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Eventos";
}

<div class="container fuente-pequeña" style="margin-top:2px;">
    @{Html.RenderAction("VistaCabecera", "Empresa");}
    @Html.Action("_Eventos", "Evento", new {Pantalla = "Empresa" })
</div>
<script>
    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4").addClass("color-paleta5");
        $('#PestañaEventos').css('backgroundColor', '#f00');
    });
</script>