
@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Inicio";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">

    @{Html.RenderAction("VistaCabecera", "Empresa", new {panel_abierto = " in" });}

    <div class="row">
      
            @Html.Action("ObtenerNuevasPostulaciones", "Empresa")
                          
            @Html.Action("ObtenerNuevosMensajes", "Empresa")
                 
    </div>
</div>
<script>

    $(document).ready(function () {

        $("#divFinalCabeceraEmpresa").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta1");


    });
</script>
