
@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Inicio";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fuente-seccion">
                        Cuenta - Criteria IT S.A.C. - Aldo Junior Barja Brito
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-md-4">
                        <table>
                            <tr>
                                <td>
                                    <img class="foto-empresa" src="~/img/logos/LogoCriteria.jpg" />
                                </td>
                                <td style="vertical-align:top;">
                                    <strong>
                                        Criteria IT S.A.C.
                                        <br />20555167581
                                    </strong>

                                    <br /><a href="#" class="fuente-pequeña">Modificar Datos ...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4 fuente-pequeña">
                        Usuario <strong>
                            Aldo Junior Barja Brito<br />
                        </strong>
                        DNI <strong>89226681</strong><br />
                        E-mail <strong>aldo.barja@criteriait.com</strong><br />
                        Celular <strong>954123876</strong>
                    </div>
                    <div class="col-md-4 fuente-pequeña">
                        Locación <strong>Software Factory</strong><br />
                        Dirección <strong>Calle Saturno 1067, Urb. La Luz, Cercado de Lima</strong><br />
                        Teléfono <strong>7149968</strong><br />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="oferta-mensaje" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingMensaje" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMensaje" aria-expanded="true" aria-controls="collapseMensaje" class="fuente-seccion">
                                Mensajes Nuevos
                            </a>
                        </h5>
                    </div>
                    <div id="collapseMensaje" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMensaje">
                        <div class="panel-body fuente-pequeña">

                            <div class="row" style="border-bottom: solid; border-color: rgb(220,220,220); border-width: 1px; padding: 5px 5px 5px 5px; margin: 1px 1px 1px 1px;">
                                <div class="col-md-1"><span class="fui fa-3x">k</span></div>
                                <div class="col-md-2"><strong>30/10/2014 20:12:12</strong><br /><a href="#">Contestar</a></div>
                                <div class="col-md-3"><strong>Bienvenido a la Postulación</strong></div>
                                <div class="col-md-3"><a href="..\Empresa\Oferta"><strong>Gerente de Servicios</strong></a></div>
                                <div class="col-md-3"><strong>De: Alberto José Perez Díaz</strong></div>
                                <div class="col-md-3"> </div>
                                <div class="col-md-9" style="background-color:rgb(240,240,240);border-radius:5px 5px 5px 5px;">
                                    Estimada Karina Barrionuevo, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, porttitor id dapibus tempor, consequat sed...<a href="#">Mostrar</a>
                                </div>

                            </div>
                            <div class="row" style="border-bottom: solid; border-color: rgb(220,220,220); border-width: 1px; padding: 5px 5px 5px 5px; margin: 1px 1px 1px 1px;">
                                <div class="col-md-1"><span class="fui fa-3x">k</span></div>
                                <div class="col-md-2"><strong>29/10/2014 18:32:15</strong><br /><a href="#">Contestar</a></div>
                                <div class="col-md-3"><strong>RE: Aenean tellus sem, porttitor id</strong></div>
                                <div class="col-md-3"><a href="..\Empresa\Oferta"><strong>Gerente de Proyectos en Desarrollo de Software</strong></a></div>
                                <div class="col-md-3"><strong>De: Mario Luís Jorquera Ramos</strong></div>
                                <div class="col-md-3"> </div>
                                <div class="col-md-9" style="background-color:rgb(240,240,240);border-radius:5px 5px 5px 5px;">
                                    Aenean tellus sem, porttitor id dapibus tempor, consequat sed diam. Nunc semper, urna dignissim eleifend cursus, eleifend cursus ...<a href="#">Mostrar</a>
                                </div>

                            </div>
                            <div class="row" style="padding: 5px 5px 5px 5px; margin: 1px 1px 1px 1px;">
                                <div class="col-md-1"><span class="fui fa-3x">k</span></div>
                                <div class="col-md-2"><strong>28/10/2014 21:58:51</strong><br /><a href="#">Contestar</a></div>
                                <div class="col-md-3"><strong>Aenean tellus sem, porttitor id </strong></div>
                                <div class="col-md-3"><a href="..\Empresa\Oferta"><strong>Jefe de Proyectos</strong></a></div>
                                <div class="col-md-3"><strong>De: Pedro Miguel Benavides Olguín</strong></div>
                                <div class="col-md-3"> </div>
                                <div class="col-md-9" style="background-color:rgb(240,240,240);border-radius:5px 5px 5px 5px;">
                                    Nunc semper, urna dignissim eleifend cursus, nisi erat euismod sapien, in aliquet libero leo id sem. Nunc semper, urna dignissim eleifend cursus, nisi ...<a href="#">Mostrar</a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta1");
    });
</script>
