    @using UTP.PortalEmpleabilidad.Modelo

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Inicio";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">

    @{Html.RenderAction("VistaCabecera", "Empresa", new { estiloPanel = " in" });}

    <div class="row">

        <div class="col-sm-7">
            @Html.Action("ObtenerNuevasPostulaciones", "Empresa")
        </div>
        <div class="col-sm-5">

            <!--Se envía el parámetro para distinguir el funcionamiento de cada página. [{MODULO}_{PAGINA}]-->
            <!--INICIO-->
            <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
              

                            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_EMPRESA_INDEX })


            </div>
            <!--FIN-->
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta1");
        $('#PestañaIndex').css('backgroundColor', '#f00');

    });


</script>
@*@Html.ActionLink("Mostrar reporte", "MostrarReporte")*@

@{
    //Se valida que exista mensaje de éxito al crear una oferta
    if (TempData["keyDemo"] != null)
    {
        <input id="keyDemo" type="hidden" value="@TempData["keyDemo"]" />
        TempData["keyDemo"] = null; //Se establece el valor nuevamente en NULL.

        //Se muestra el script
        <script>
            var msjExito = document.getElementById("keyDemo").value;
            alert(msjExito);
        </script>
    }
}
