@using UTP.PortalEmpleabilidad.Modelo

@{
    Layout = "~/Views/Empresa/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Inicio";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">

    @{Html.RenderAction("VistaCabecera", "Empresa", new { estiloPanel = " in" });}

    <div class="row">

        <div class="col-sm-7">
            @Html.Action("ObtenerNuevasPostulaciones", "Empresa")
        </div>
        <div class="col-sm-5">

            <!--Se envía el parámetro para distinguir el funcionamiento de cada página. [{MODULO}_{PAGINA}]-->
            <!--INICIO-->
            <div class="panel-group" id="grupoMensajes" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne2" style="padding: 2px 2px 2px 6px;">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#grupoMensajes" href="#collapseMensajes" aria-expanded="true" aria-controls="collapseOne2" class="fuente-seccion">
                                Mensajes
                            </a>
                        </h5>
                    </div>
                    <div id="collapseMensajes" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body">

                            @Html.Action("_Mensajes", "Mensaje", new { pantalla = Constantes.MENSAJES_EMPRESA_INDEX })


                        </div>
                    </div>
                </div>
            </div>
            <!--FIN-->
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        $("#divFinalCabeceraEmpresa").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta1");


    });


</script>

@{
    //Se valida que exista mensaje de éxito al crear una oferta
    if (TempData["keyDemo"] != null)
    {
        <input id="keyDemo" type="hidden" value="@TempData["keyDemo"]" />
        TempData["keyDemo"] = null; //Se establece el valor nuevamente en NULL.

        //Se muestra el script
        <script>
            var msjExito = document.getElementById("keyDemo").value;
            alert(msjExito);
        </script>
    }
}
