@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fuente-seccion">
                        Cuenta - Mario Valentin Perez Garcia
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-md-6 fuente-pequeña">
                        <table>
                            <tr>
                                <td class="celda-nombre">Usuario:</td>
                                <td class="celda-datos">MarioValentin</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Nombre:</td>
                                <td class="celda-datos">Mario Valentin Perez Garcia</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 fuente-pequeña">
                        DNI <strong>89226681</strong><br />
                        <strong>mperez@grupoutp.edu.pe</strong><br />
                        <strong>954123876</strong>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h5>Empresa: IBM del Perú</h5>
    <br />
    <table class="fuente-pequeña">
        <tr>
            <td class="celda-nombre">
                Razón Social
            </td>
            <td class="celda-datos">
                IBM PERU S.A.
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                País
            </td>
            <td class="celda-datos">
                Perú
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                RUC
            </td>
            <td class="celda-datos">
                20554045823
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Descripción
            </td>
            <td class="celda-datos">
                Lorem ipsum dlor fras elimputum lorem sino ipsumino francela de la mismo ipso facuos diche di la tumani. Lorem ipsum dlor fras elimputum lorem sino ipsumino francela de la mismo ipso facuos diche di la tumani. Lorem ipsum dlor fras elimputum lorem sino ipsumino francela de la mismo ipso facuos diche di la tumani.
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Link Video
            </td>
            <td class="celda-datos">
                http://youtube.com/983ijwoe
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Logo
            </td>
            <td class="celda-datos">
                <img src="~/img/logos/logoibm.jpg" />
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Año de Creación
            </td>
            <td class="celda-datos">
                1968
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Número de Empleados
            </td>
            <td class="celda-datos">
                Mas de 500
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Estado de la Empresa
            </td>
            <td class="celda-datos">
                <select>
                    <option>Activa</option>
                    <option>Pendiente de aprobación de registro</option>
                    <option>No Activa</option>
                    <option>
                        Suspendida
                    </option>
                </select>
                <span>&nbsp;&nbsp;<button class="btn btn-default">Guardar</button></span>
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Sector Empresarial Principal
            </td>
            <td class="celda-datos">
                Tecnología y Software
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Sector Empresarial 2
            </td>
            <td class="celda-datos">
                Servicios
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Sector Empresarial 3
            </td>
            <td class="celda-datos"></td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Usuario Ejecutivo de Cuenta
            </td>
            <td class="celda-datos">
                <select>
                    <option>Mario Valentin</option>
                    <option>José Alvarado</option>
                    <option>Mario Kalimba</option>
                    <option>Rosa Benavides</option>
                </select>
                <span>&nbsp;&nbsp;<button class="btn btn-default">Guardar</button></span>
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Creado Por
            </td>
            <td class="celda-datos">
                alberto bueno
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Creado el
            </td>
            <td class="celda-datos">
                10/01/2015 12:45:51
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Modificado Por
            </td>
            <td class="celda-datos">
                alberto bueno
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Modificado el
            </td>
            <td class="celda-datos">
                11/02/2015 17:22:10
            </td>
        </tr>
    </table>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <h5>Usuarios</h5>
            <hr />
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-3">
                    Usuario
                </div>
                <div class="col-sm-4">
                    Nombre
                </div>
                <div class="col-sm-3">
                    Rol
                </div>
                <div class="col-sm-2">
                    Estado
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    <a href="../UTP/UsuarioEmpresa">mariorodriguez</a>
                </div>
                <div class="col-sm-4">
                    Marial Alberto Rodriguez Torres
                </div>
                <div class="col-sm-3">
                    Administrador Empresa
                </div>
                <div class="col-sm-2">
                    Activo
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    <a href="../UTP/UsuarioEmpresa">amaliabendezu</a>
                </div>
                <div class="col-sm-4">
                    Rosa Amalia Bendezu Rodriguez
                </div>
                <div class="col-sm-3">
                    Supervisor Empresa
                </div>
                <div class="col-sm-2">
                    Activo
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    <a href="../UTP/UsuarioEmpresa">ivan-lopez</a>
                </div>
                <div class="col-sm-4">
                    Ivan Martín Lopez Perez
                </div>
                <div class="col-sm-3">
                    Usuario Empresa
                </div>
                <div class="col-sm-2">
                    Suspendido
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align:right;">
                    <nav>
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Ubicaciónes</h5>
            <hr />
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-4">
                    Nombre
                </div>
                <div class="col-sm-3">
                    Tipo
                </div>
                <div class="col-sm-3">
                    Distrito
                </div>
                <div class="col-sm-2">
                    Estado
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-4">
                    <a href="../UTP/LocacionEmpresa">IBM La Molina</a>
                </div>
                <div class="col-sm-3">
                    Oficina Principal
                </div>
                <div class="col-sm-3">
                    La Molina
                </div>
                <div class="col-sm-2">
                    Activa
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-4">
                    <a href="../UTP/LocacionEmpresa">IBM Miraflores</a>
                </div>
                <div class="col-sm-3">
                    Sucursal
                </div>
                <div class="col-sm-3">
                    Miraflores
                </div>
                <div class="col-sm-2">
                    Activa
                </div>
            </div>

            <div class="row grilla1-linea">
                <div class="col-sm-4">
                    <a href="../UTP/LocacionEmpresa">IBM La Molina</a>
                </div>
                <div class="col-sm-3">
                    Oficina Principal
                </div>
                <div class="col-sm-3">
                    La Molina
                </div>
                <div class="col-sm-2">
                    Activa
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-4">
                    <a href="../UTP/LocacionEmpresa">IBM Miraflores</a>
                </div>
                <div class="col-sm-3">
                    Sucursal
                </div>
                <div class="col-sm-3">
                    Miraflores
                </div>
                <div class="col-sm-2">
                    Activa
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" style="text-align:right;">
                    <nav>
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <h5>Ofertas</h5>
            <hr />
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-3">
                    Fecha
                </div>
                <div class="col-sm-6">
                    Cargo
                </div>
                <div class="col-sm-1">
                    Post
                </div>
                <div class="col-sm-2">
                    Estado
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    Hace 1 hora
                </div>
                <div class="col-sm-6">
                    <a href="../UTP/OfertaEmpresa">Gerente de Proyecto</a>
                </div>
                <div class="col-sm-1">
                    0
                </div>
                <div class="col-sm-2">
                    Pendiente de activación
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    Hace 2 días
                </div>
                <div class="col-sm-6">
                    <a href="../UTP/OfertaEmpresa">Gerente de Servicio</a>
                </div>
                <div class="col-sm-1">
                    12
                </div>
                <div class="col-sm-2">
                    Activa
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    Hace 5 días
                </div>
                <div class="col-sm-6">
                    <a href="../UTP/OfertaEmpresa">Jefe de Proyecto</a>
                </div>
                <div class="col-sm-1">
                    15
                </div>
                <div class="col-sm-2">
                    Activa
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-3">
                    Hace 2 semanas
                </div>
                <div class="col-sm-6">
                    <a href="../UTP/OfertaEmpresa">Jefe de Proyecto</a>
                </div>
                <div class="col-sm-1">
                    15
                </div>
                <div class="col-sm-2">
                    Finlizada
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align:right;">
                    <nav>
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Mensajes</h5>
            <hr />
            <div class="row grilla1-cabecera color-paleta2">
                <div class="col-sm-1">

                </div>
                <div class="col-sm-2">
                    Fecha
                </div>
                <div class="col-sm-3">
                    Asunto
                </div>
                <div class="col-sm-3">
                    Remitente
                </div>
                <div class="col-sm-3">
                    Oferta/Evento
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-1">
                    <span class="fui fa-3x color-icono-paleta1">-</span>
                </div>
                <div class="col-sm-2">
                    Hace 2 horas
                </div>
                <div class="col-sm-3">
                    <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
                </div>
                <div class="col-sm-3">
                    Criteria IT S.A.C.
                </div>
                <div class="col-sm-3">
                    Gerente de Proyecto (Postulando)
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-1">
                    <span class="fui fa-3x color-icono-paleta1">i</span>
                </div>
                <div class="col-sm-2">
                    Hace 2 horas
                </div>
                <div class="col-sm-3">
                    <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
                </div>
                <div class="col-sm-3">
                    Criteria IT S.A.C.
                </div>
                <div class="col-sm-3">
                    Gerente de Proyecto (Postulando)
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-1">
                    <span class="fui fa-3x color-icono-paleta1">j</span>
                </div>
                <div class="col-sm-2">
                    Hace 2 horas
                </div>
                <div class="col-sm-3">
                    <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
                </div>
                <div class="col-sm-3">
                    Criteria IT S.A.C.
                </div>
                <div class="col-sm-3">
                    Gerente de Proyecto (Postulando)
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-1">
                    <span class="fui fa-3x color-icono-paleta1">-</span>
                </div>
                <div class="col-sm-2">
                    Hace 2 horas
                </div>
                <div class="col-sm-3">
                    <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
                </div>
                <div class="col-sm-3">
                    IBM del Perú (MarioValentin)
                </div>
                <div class="col-sm-3">
                    Gerente de Proyecto (Postulando)
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-1">
                    <span class="fui fa-3x color-icono-paleta1">i</span>
                </div>
                <div class="col-sm-2">
                    Hace 2 horas
                </div>
                <div class="col-sm-3">
                    <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
                </div>
                <div class="col-sm-3">
                    Criteria IT S.A.C.
                </div>
                <div class="col-sm-3">
                    Gerente de Proyecto (Postulando)
                </div>
            </div>
            <div class="row grilla1-linea">
                <div class="col-sm-1">
                    <span class="fui fa-3x color-icono-paleta1">j</span>
                </div>
                <div class="col-sm-2">
                    Hace 2 horas
                </div>
                <div class="col-sm-3">
                    <a href="../Mensaje/VerMensaje">Bienvenido a la Postulación</a>
                </div>
                <div class="col-sm-3">
                    Criteria IT S.A.C.
                </div>
                <div class="col-sm-3">
                    Gerente de Proyecto (Postulando)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="text-align:right;">
                    <nav>
                        <nav>
                            <ul class="pagination pagination-sm">
                                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>



    <script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta2");
    });


    </script>

