@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Ubicación de Empresa";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fuente-seccion">
                        Cuenta - Mario Valentin Perez Garcia
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-md-6 fuente-pequeña">
                        <table>
                            <tr>
                                <td class="celda-nombre">Usuario:</td>
                                <td class="celda-datos">MarioValentin</td>
                            </tr>
                            <tr>
                                <td class="celda-nombre">Nombre:</td>
                                <td class="celda-datos">Mario Valentin Perez Garcia</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 fuente-pequeña">
                        DNI <strong>89226681</strong><br />
                        <strong>mperez@grupoutp.edu.pe</strong><br />
                        <strong>954123876</strong>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h5>Empresa: IBM del Perú - Ubicación: Sede La Molina</h5>
    <br />
    <table>
        <tr>
            <td class="celda-nombre">
                Nombre
            </td>
            <td class="celda-datos">
                Sede La Molina
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Tipo
            </td>
            <td class="celda-datos">
                Oficina Principal
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Estado
            </td>
            <td class="celda-datos">
                <select>
                    <option>
                        Activa
                    </option>
                    <option>
                        No Activa
                    </option>
                </select>
                <span>&nbsp;&nbsp;<button class="btn btn-default">Guardar</button></span>
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Correo Electrónico
            </td>
            <td class="celda-datos">
                rrhhHeadquarters@ibm.com
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Teléfono
            </td>
            <td class="celda-datos">
                7786123
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Dirección
            </td>
            <td class="celda-datos">
                Avenida Javier Prado 8554
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Distrito
            </td>
            <td class="celda-datos">
                La Molina
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Ciudad
            </td>
            <td class="celda-datos">
                Lima
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Región
            </td>
            <td class="celda-datos">
                Lima
            </td>
        </tr>
        
        <tr>
            <td class="celda-nombre">
                Creado Por
            </td>
            <td class="celda-datos">
                MarioAlberti
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Creado el
            </td>
            <td class="celda-datos">
                10/01/2015 12:45:51
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Modificado Por
            </td>
            <td class="celda-datos">
                ---
            </td>
        </tr>
        <tr>
            <td class="celda-nombre">
                Modificado el
            </td>
            <td class="celda-datos">
                ---
            </td>
        </tr>
    </table>
    <br />
<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta2");
        $('#PestañaOfertas').css('backgroundColor', '#f00');
    });


</script>