
@model UTP.PortalEmpleabilidad.Modelo.Lista
@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Lista de Valores";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />




<div class="container" style="margin-top:2px;">
    @Html.HiddenFor(model => model.IDLista)
      
    
    @{Html.RenderAction("Vista_DatosdeListaValorPadre", "UTP", new { id = Model.IDLista });}

    <div class="row fuente-pequeña">
        <div class="col-sm-12">

            <div id="divListaHijo">
                @{Html.RenderAction("Vista_ListaValorHijo", "UTP", new { id = Model.IDLista });}
            </div>
            
            @*@{Html.RenderAction("Vista_ListaValorHijo", "UTP", new { id = Model.IDLista });}*@


        </div>




    </div>



    <hr />
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta8");
    });


    function mostrarMensaje() {
        alert('Los datos fueron grabados con éxito.');
    }



</script>





@*<div class="modal fade" id="Nueva-lista" role="dialog" aria-labelledby="Nueva Lista" aria-hidden="true">
    <div class="modal-dialog">
        
    </div>
</div>*@

<div class="modal fade" id="Nueva-lista" role="dialog" aria-labelledby="Nueva Lista" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Valor de Lista</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">ID</span>
                            <input type="text" class="form-control" placeholder="Identificador de Valor (6 digitos)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">Valor</span>
                            <input type="text" class="form-control" placeholder="Texto del Valor">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">Descrip-<br />ción</span>
                            <textarea class="form-control" rows="4">Descripción</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">Ícono</span>
                            <input type="text" class="form-control fui fa-2x">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">Peso</span>
                            <input type="text" class="form-control" placeholder="Peso u orden numérico: 0-999">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Valor UTP</span>
                            <input type="text" class="form-control" placeholder="Valor o código UTP para este valor">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Estado</span>
                            <select class="form-control">
                                <option value="">
                                    - Seleccionar -
                                </option>
                                <option>
                                    Activo
                                </option>
                                <option>
                                    No Activo
                                </option>
                                <option>
                                    ***
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default color-paleta8">Guardar</button>
            </div>
        </div>
    </div>
</div>



@*<script>

    function UsuarioUTPCrear() {
        //debugger;
        var url = "/UTP/_UsuariosUTPCrear"; //
        $.get(url, function (data) {
            //alert(data);
            $('#divContenedorUsuarioUTPCrear').html(data);
            $.validator.unobtrusive.parse('#divContenedorUsuarioUTPCrear');

            $('#divModalUsuarioUTPCrear').modal('show');

        }).error(function (err) {
            console.log(err);
            alert(err);
        });
    }

    function UsuarioUTPEditar(id) {
        var url = "/UTP/_UsuariosUTPEditar/" + id;
        $.get(url, function (data) {
            $('#divContenedorUsuarioUTPEditar').html(data);
            $.validator.unobtrusive.parse('#divContenedorUsuarioUTPEditar');

            $('#divModalUsuarioUTPEditar').modal('show');
        });
    }

    function ListaValorPadreInsertar() {

        //console.log('punto de control');
        var url = "/UTP/_ListaValorPadreInsertar/";
        $.get(url, function (data) {

            //console.log(data);

            $('#divContenedorListavalorPAdreCrear').html(data);
            $.validator.unobtrusive.parse('#divContenedorListavalorPAdreCrear');

            $('#Nueva-lista').modal('show');
        }).error(function (err) {
            console.log(err);
            alert(err);
        });

    }


    function cerrarModal() {

        //alert('cerrarmodal');
        //$('#divListaPadre').html('demo');
        $('.modal.in').modal('hide');
    }

@*</script>*@