@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Valor de una Lista";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="container" style="margin-top:2px;">
    <div class="row">
        <div class="col-sm-12">
            <h5>ID Lista Valor: <strong>ACTIVO</strong></h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">Valor</span>
                <input type="text" class="form-control" placeholder="Texto del Valor">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">Descrip-<br />ción</span>
                <textarea class="form-control" rows="4">Descripción</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Ícono</span>
                <input type="text" class="form-control fui fa-2x">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">Peso</span>
                <input type="text" class="form-control" placeholder="Peso u orden numérico: 0-999">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Valor UTP</span>
                <input type="text" class="form-control" placeholder="Valor o código UTP para este valor">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Estado</span>
                <select class="form-control">
                    <option value="">
                        - Seleccionar -
                    </option>
                    <option>
                        Activo
                    </option>
                    <option>
                        No Activo
                    </option>
                    <option>
                        ***
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button class="btn btn-default color-paleta8">Guardar</button>
        </div>
    </div>
    <hr />
    <table class="fuente-pequeña">
        <tr class="linea_raya">
            <td class="celda-nombre">
                Creado Por
            </td>
            <td class="celda-datos">
                Administrador
            </td>
        </tr>
        <tr class="linea_raya">
            <td class="celda-nombre">
                Creado el
            </td>
            <td class="celda-datos">
                2014.12.01 12:00:03
            </td>
        </tr>
        <tr class="linea_raya">
            <td class="celda-nombre">
                Modificado Por
            </td>
            <td class="celda-datos">
                Administrador
            </td>
        </tr>
        <tr class="linea_raya">
            <td class="celda-nombre">
                Modificado el
            </td>
            <td class="celda-datos">
                2014.12.15 17:30:03
            </td>
        </tr>
    </table>
    <hr />
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta8");
        $('#PestañaSistema').css('backgroundColor', '#f00');
    });
</script>


