@{
    Layout = "~/Views/UTP/_LayoutUTP.cshtml";
    ViewBag.Title = "Plantilla de CV";
}
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="container fuente-pequeña" style="margin-top:2px;">
    <div class="row">
        <div class="col-sm-12">
            <h5>Plantilla: <strong>1</strong></h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Nombre</span>
                <input type="text" class="form-control" placeholder="Nombres de la Plantilla de CV">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">Descrip-<br />ción</span>
                <textarea class="form-control" placeholder="Descripción de la Plantilla" rows="3"></textarea>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <a href="#">Descargar Archivo de Plantilla</a>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-default color-paleta8">Cambiar Archivo</button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">Estado</span>
                <select class="form-control">
                    <option value="">
                        - Seleccionar -
                    </option>
                    <option>
                        Activo
                    </option>
                    <option>
                        No Activo
                    </option>
                    <option>
                        ***
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align:right;">
            <button class="btn btn-default color-paleta8">Guardar</button>
        </div>
    </div>
    <hr />
    <table>

        <tr class="linea_raya">
            <td class="celda-nombre">
                Creado Por
            </td>
            <td class="celda-datos">
                Administrador
            </td>
        </tr>
        <tr class="linea_raya">
            <td class="celda-nombre">
                Creado el
            </td>
            <td class="celda-datos">
                2014.12.01 12:00:03
            </td>
        </tr>
        <tr class="linea_raya">
            <td class="celda-nombre">
                Modificado Por
            </td>
            <td class="celda-datos">
                Administrador
            </td>
        </tr>
        <tr class="linea_raya">
            <td class="celda-nombre">
                Modificado el
            </td>
            <td class="celda-datos">
                2014.12.15 17:30:03
            </td>
        </tr>
    </table>
    <hr />
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4 color-paleta5 color-paleta6 color-paleta7").addClass("color-paleta8");
        $('#PestañaSistema').css('backgroundColor', '#f00');
    });
</script>


