<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>    
    <!--<add name="UTPConexionBD" connectionString="Data Source=192.168.1.160;Initial Catalog=UTP-PE-1.02;User ID=sa;Password=S_A_0123" providerName="System.Data.SqlClient" />-->
    <add name="UTPConexionBD" connectionString="Data Source=ROXANA-VAIO\SQLEXPRESS;Initial Catalog=BD27ENE;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <!--Datos para la configuración de los mensajes de correo-->
    <add key="MensajeCorreoEnProduccion" value="false" />
    <add key="MensajeCorreoUsuario" value="aldao@criteriait.com" />
    <!--Credenciales para envío de correo-->
    <add key="MensajeCorreoContrasena" value="P4$$w0rd" />
    <!--Credenciales para envío de correo-->
    <add key="MensajeCorreoHost" value="smtp.ipage.com" />
    <add key="MensajeCorreoPuerto" value="587" />
    <add key="MensajeCorreoEnableSSL" value="false" />
    <!--Si el tag 'MensajeCorreoEnProduccion' es false entonces se usa estos tags: Correos 'De' y 'Para' en desarrollo-->
    <add key="MensajeCorreoUsuarioDeDesarrollo" value="aldo.chocos@pucp.pe" />
    <add key="MensajeCorreoUsuarioParaDesarrollo" value="aldo.chocos@criteriait.com" />
    
    <!--Correo remitente para enviar las postulaciones a las empresas.-->
    <add key="OfertaCorreoRemitente" value="utpempleabilidad@utp.edu.pe" />
  </appSettings>
</configuration>