@model UTP.PortalEmpleabilidad.Modelo.Mensaje

<div class="modal-content fuente-pequeña">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Mensaje</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Destina-<br />tario</span>
                    <input class="form-control" palceholder="Usuario Destinatario" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Destina-<br />tario</span>
                    <select class="form-control">
                        <option>- Seleccione Usuario Destinatario -</option>
                        <option>Mario Gutierrez GOnzales (0812345612)</option>
                        <option>Pedro Almodovito Spilber (0921221345)</option>
                        <option>Juan Anderson Chuquizaca Temoche (09848382)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Asunto</span>
                    <input class="form-control" palceholder="Asunto del Correo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Oferta<br />Laboral</span>



                    <select class="form-control">
                        <option>- Seleccione Oferta Laboral relacionada -</option>
                        <option>Agente de Banco</option>
                        <option>Gerente de Proyecto</option>
                        <option>Analista de Sistemas</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Evento</span>
                    <select class="form-control">
                        <option>- Seleccione Evento relacionado -</option>
                        <option>Feria de Trabajo 2015</option>
                        <option>Charla RRHH</option>
                        <option>Seminaro de Presentación</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="#">Gerente de Proyectos (IBM del Perú)</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="#">Feria Laboral UTP 2015</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Mensaje</span>
                    <textarea class="form-control" palceholder="Asunto del Correo" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary color-paleta1">Enviar</button>
    </div>
</div>
