
<div class="container">
    <div class="row fuente-pequeña">
        <div class="col-sm-8">

        </div>
        <div class="col-sm-4">
            <div class="row">
                <h6>Mensajes</h6>
                <div class="row grilla1-cabecera color-paleta1">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-sm-4">
                                Fecha
                            </div>
                            <div class="col-sm-4">
                                Remitente
                            </div>
                            <div class="col-sm-4">
                                Destinatario
                            </div>
                            
                        </div>
                    </div>

                    
                </div>
                
                <div class="row grilla1-linea">
                    <div class="col-sm-1">
                        <span class="fui color-icono-paleta1" style="font-size:22px;">i</span>
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-sm-4">
                                Hace 1 día
                            </div>
                            <div class="col-sm-4">
                                Mario Perez Espino
                            </div>
                            <div class="col-sm-4">
                                Pedro Calderón Aguirre
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong><a href="#" data-toggle="modal" data-target="#verMensaje">RE: Gerente de Cuentas</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row grilla1-linea">
                    <div class="col-sm-1">
                        <span class="fui color-icono-paleta2" style="font-size:22px;">j</span>
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-sm-4">
                                Hace 2 día
                            </div>
                            <div class="col-sm-4">
                                Víctor Canal Aguirre
                            </div>
                            <div class="col-sm-4">
                                Luis Alcazar Calderón
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong><a href="#" data-toggle="modal" data-target="#verMensaje">RE: Gerente de Proyectos de Informática</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row grilla1-linea">
                    <div class="col-sm-1">
                        <span class="fui color-icono-paleta1" style="font-size:22px;">k</span>
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-sm-4">
                                Hace 1 semana
                            </div>
                            <div class="col-sm-4">
                                Juan Perez Espino
                            </div>
                            <div class="col-sm-4">
                                Luis Alcazar Calderón
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong><a href="#" data-toggle="modal" data-target="#verMensaje">RE: Analista / Programador</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row grilla1-linea">
                    <div class="col-sm-1">
                        <span class="fui color-icono-paleta2" style="font-size:22px;">k</span>
                    </div>
                    <div class="col-sm-11">
                        <div class="row">
                            <div class="col-sm-4">
                                Hace 9 días
                            </div>
                            <div class="col-sm-4">
                                Víctor Canal Aguirre
                            </div>
                            <div class="col-sm-4">
                                Luis Felipe Rodriguez Vildósola
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong><a href="#" data-toggle="modal" data-target="#verMensaje">RE: Gerente de Servicios TI</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-default color-paleta1" data-toggle="modal" data-target="#nuevoMensaje">Redactar</button>
                    </div>
                    <div class="col-sm-10" style="text-align:right;">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <hr />
            </div>
            <!--Modal para nuevos mensajes -->
            <div class="modal fade" id="nuevoMensaje" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content fuente-pequeña">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Nuevo Mensaje</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Destina-<br />tario</span>
                                        <input class="form-control" palceholder="Usuario Destinatario" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Destina-<br />tario</span>
                                        <select class="form-control">
                                            <option>- Seleccione Usuario Destinatario -</option>
                                            <option>Mario Gutierrez GOnzales (0812345612)</option>
                                            <option>Pedro Almodovito Spilber (0921221345)</option>
                                            <option>Juan Anderson Chuquizaca Temoche (09848382)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Asunto</span>
                                        <input class="form-control" palceholder="Asunto del Correo" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Oferta<br />Laboral</span>
                                        <select class="form-control">
                                            <option>- Seleccione Oferta Laboral relacionada -</option>
                                            <option>Agente de Banco</option>
                                            <option>Gerente de Proyecto</option>
                                            <option>Analista de Sistemas</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Evento</span>
                                        <select class="form-control">
                                            <option>- Seleccione Evento relacionado -</option>
                                            <option>Feria de Trabajo 2015</option>
                                            <option>Charla RRHH</option>
                                            <option>Seminaro de Presentación</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#">Gerente de Proyectos (IBM del Perú)</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#">Feria Laboral UTP 2015</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">Mensaje</span>
                                        <textarea class="form-control" palceholder="Asunto del Correo" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary color-paleta1">Enviar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <!--Modal para ver un mensaje -->
            <div class="modal fade" id="verMensaje" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content fuente-pequeña">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">RE: Gerente de Proyectos para Sistemas de Información</h4>
                        </div>
                        <div class="modal-body">
                            <h6>Mensaje posterior: <a href="#">(Hace 15 minutos) RE: RE: Gerente de Proyectos para Sistemas de Información</a></h6>
                            <br />
                            <table>
                                <tr class="linea_raya">
                                    <td class="celda-nombre">
                                        Fecha:
                                    </td>
                                    <td class="celda-datos">
                                        Hace 1 día (26/12/2014 16:24:00 HH)
                                    </td>
                                </tr>
                                <tr class="linea_raya">
                                    <td class="celda-nombre">
                                        De:
                                    </td>
                                    <td class="celda-datos">
                                        Víctor Canal Aguirre (vcanal)
                                    </td>
                                </tr>
                                <tr class="linea_raya">
                                    <td class="celda-nombre">
                                        Para:
                                    </td>
                                    <td class="celda-datos">
                                        Alberto Beingochea Elcorrobarrutia (abel)
                                    </td>
                                </tr>
                                <tr class="linea_raya">
                                    <td class="celda-nombre">
                                        Oferta Laboral:
                                    </td>
                                    <td class="celda-datos">
                                        <a href="#">Gerente de Proyectos para Sistemas de Información (IBM del Perú)</a>
                                    </td>
                                </tr>
                                <tr class="linea_raya">
                                    <td class="celda-nombre">
                                        Evento:
                                    </td>
                                    <td class="celda-datos">
                                        <a href="#">Feria Laboral 2015 UTP</a>
                                    </td>
                                </tr>
                                <tr class="linea_raya">
                                    <td class="celda-nombre">
                                        Mensaje:
                                    </td>
                                    <td class="celda-datos">
                                        Lorem Ipsun dolor que duele, sip dale muc tirnao rxe delatolre lorem, ipsum facto secuelo seculorum tedea. Ersip dale muc tirnao rxe delatolre lorem, ipsum facto secuelo seculorum tedea.
                                        Lorem Ipsun dolor que duele, sip dale muc tirnao rxe delatolre lorem, ipsum facto secuelo seculorum tedea. Ersip dale muc tirnao rxe delatolre lorem, ipsum facto secuelo seculorum tedea.
                                    </td>
                                </tr>
                            </table>
                            <br />
                            <h6>Mensaje anterior: <a href="#">(Hace 3 días) Gerente de Proyectos para Sistemas de Información</a></h6>
                            

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary color-paleta1" data-dismiss="modal" data-toggle="modal" data-target="#nuevoMensaje">Contestar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>