@model IEnumerable< UTP.PortalEmpleabilidad.Modelo.Evento>


<h5>Eventos</h5>

<div class="col-sm-12">   
    @foreach (var item in Model)
    {
        <div class="row grilla1-linea fuente-pequeña">
            <div class="col-sm-12">
                @Html.ActionLink(item.NombreEvento, "Eventos", "Alumno", new { id = item.IdEvento }, null)
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(modelItem => item.FechaEventoTexto)
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(modelItem => item.LugarEvento)
            </div>
        </div>
        <hr />
    }
</div>
