@model IEnumerable< UTP.PortalEmpleabilidad.Modelo.Evento>

    @foreach (var item in Model)
    {
        <div class="row grilla1-linea fuente-pequeña">
            <div class="col-sm">
                @*@Html.ActionLink(item.NombreEvento, "Eventos", "Alumno", new { id = item.IdEvento }, htmlAttributes: new { target = "_blank" })*@
                @Html.ActionLink(item.NombreEvento, "Eventos", "Alumno", new { id = item.IdEvento }, null)
            </div>
            <div class="col-sm">
                @Html.DisplayFor(modelItem => item.FechaEventoTexto)
            </div>
            <div class="col-sm">
                @Html.DisplayFor(modelItem => item.LugarEvento)
            </div>
        </div>
        <hr />

    }


