
<div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingCalendario">
        <div class="row">
            <div class="col-xs-12">

                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalendario" aria-expanded="true" aria-controls="collapseCalendario">
                    <strong>Calendario</strong>
                </a>

            </div>

        </div>
    </div>
    <div id="collapseCalendario" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCalendario">
        <div class="panel-body" style="padding: 10px 5px 10px 5px;">
            <div style="background-color:rgb(240, 240, 240);padding: 0px 5px 0px 5px;">
                <strong style="font-size:smaller">Hoy</strong><br />
            </div>
            <hr style="margin: 4px 0px 4px 0px;" />
            <div style="padding: 0px 5px 0px 5px;">
                <strong style="font-size:smaller">16:00</strong><br />
                <span>&nbsp;UTP - Matemáticas I</span>
            </div>
            <hr style="margin: 4px 0px 4px 0px;" />
            <div style="padding: 0px 5px 0px 5px;">
                <strong style="font-size:smaller">18:00</strong><br />
                <span>&nbsp;UTP - Sociología</span>
            </div>
            <hr style="margin: 4px 0px 4px 0px;" />
            <div style="background-color:rgb(240, 240, 240);padding: 0px 5px 0px 5px;">
                <strong style="font-size:smaller">02/04/2015</strong><br />
            </div>
            <hr style="margin: 4px 0px 4px 0px;" />
            <div style="padding: 0px 5px 0px 5px;">
                <strong style="font-size:smaller">14:30</strong><br />
                <span>&nbsp;UTP - Práctica de Psicología I</span>
            </div>
            <hr style="margin: 4px 0px 4px 0px;" />
            <div style="padding: 0px 5px 0px 5px;">
                <strong style="font-size:smaller">17:00</strong><br />
                <span>&nbsp;UTP - Matemáticas I</span>
            </div>
        </div>
    </div>
</div>
