@using UTPPrototipo.Common
@using UTPPrototipo.Utiles
@model  IEnumerable<UTP.PortalEmpleabilidad.Modelo.Oferta>
<hr />
 @foreach (var item in Model)
 {
    <div class="row">
        <div class="col-sm-12">

            @if (item.LogoEmpresa != null && string.IsNullOrEmpty(item.ArchivoMimeType) == false)
            {
                <img src="@Url.Action("GetImageEmpresa", "Alumno", new { item.IdEmpresa })" class="logo-empresa2" />
            }
            else
            {
                <img src="~/img/logos/logoibm.jpg" class="logo-empresa2" />
            }
            <br />
            <strong>
                @*@Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) }, htmlAttributes: new { target = "_blank" })*@
                @Html.ActionLink(item.CargoOfrecido, "postulacionOferta2", "Alumno", new { id = Helper.Encriptar(item.IdOferta.ToString()) })
            </strong>
            <br />@Html.FormatoFrecuencia(item.FechaPublicacion)
            <br />
            <div class="progress">
                @Html.Raw(Html.CompatibilidaOferta((int)item.Compatible))
            </div>
        </div>
    </div>
    <hr />
 }

