@model  UTPPrototipo.Models.ViewModels.VistaPanelAlumnoMiCV
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMiCVOpciones" style="padding: 2px 2px 2px 6px;background-color:rgb(14, 158, 149);color:white;">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMiCVOpciones" aria-expanded="true" aria-controls="collapseMiCVOpciones" style="font-size:12px;">
                Opciones de CV
            </a>
        </h5>
    </div>
    <div id="collapseMiCVOpciones" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMiCVOpciones">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group fuente-pequeña">
                        <span class="input-group-addon">CV</span>
                        @Html.DropDownListFor(m => m.IdCV, new SelectList(ViewBag.ListaAlumnoCV, "Value", "Text"), new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group fuente-pequeña">
                        <span class="input-group-addon">Plantilla</span>
                        @Html.DropDownListFor(m => m.IdPlantillaCV, new SelectList(ViewBag.ListaPlantillaCV, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <span>
                        <button type="button" class="btn btn-default fuente-pequeña color-paleta4" style="color:white;">Guardar cambios</button>
                    </span>
                </div>
                
                <div class="col-sm-1">
                    <span class="fuente-pequeña">
                        <a href="#">Ver CV</a>
                    </span>
                </div>
                <div class="col-sm-1">
                    <span class="fuente-pequeña">
                        <a href="#">Descargar</a>
                    </span>
                </div>
                <div class="col-sm-2" style="text-align:center;border-left:solid;border-left-width:thin;border-left-color:rgb(210, 210, 210)">
                    
                    <button type="button" data-toggle="modal" data-target="#Modal-nuevo-cv" class="btn btn-default fuente-pequeña color-paleta4" style="color:white;">Crear Nuevo</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var vistacv = {
            IdAlumno: $('#IdAlumno').val(),
            IdCV: $('#IdCV').val()
        };
        $("#HIIdCV").attr("value", $('#IdCV').val());
        alert($('#IdCV').val());
        CargarPOST("alumno-datos-generales", "/Alumno/AlumnoDatosGenerales", vistacv);
        CargarPOST("mi-cv-educacion", "/Alumno/AlumnoEstudiosCV", vistacv);
        CargarPOST("mi-cv-experiencia-laboral", "/Alumno/AlumnoExperienciaCV", vistacv);
        CargarPOST("mi-cv-informacion-adicional", "/Alumno/AlumnoInformacionAdicionalCV", vistacv);

    });

    $("#IdCV").change(function () {
        var Id = $(this).val();
        $("#HIIdCV").attr("value",$('#IdCV').val());
        var vistacv = {
            IdAlumno: $('#IdAlumno').val(),
            IdCV: Id
        };
        CargarPOST("mi-cv-opciones", "/Alumno/OpcionesCV", vistacv);
        CargarPOST("alumno-datos-generales", "/Alumno/AlumnoDatosGenerales", vistacv);
        CargarPOST("mi-cv-educacion", "/Alumno/AlumnoEstudiosCV", vistacv);
        CargarPOST("mi-cv-experiencia-laboral", "/Alumno/AlumnoExperienciaCV", vistacv);
        CargarPOST("mi-cv-informacion-adicional", "/Alumno/AlumnoInformacionAdicionalCV", vistacv);
    });


</script>