@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Búsqueda de Oferta";
}

<div class="container" style="margin-top:2px;">
    <div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fuente-seccion">
                        Tu Cuenta - Karina María Barrionuevo Chang
                    </a>
                </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-md-3">
                        <table>
                            <tr>
                                <td>
                                    <img class="foto-usuario" src="~/img/Alumna.png" />
                                </td>
                                <td style="vertical-align:top;">
                                    <strong>
                                        Karina María
                                        <br />Barrionuevo Chang
                                    </strong>
                                    <br />Ingeniería Industrial
                                    <br /><a href="#" class="fuente-pequeña">Modificar Datos ...</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 fuente-pequeña">
                        Código <strong>82727128</strong><br />
                        DNI <strong>89226681</strong><br />
                        E-mail 1 <strong>karina_barrionuevo@hotmail.com</strong><br />
                        E-mail 2 <strong>kabarrionuevo@elportaldelvago.com</strong><br />
                        Celular <strong>954123876</strong>

                    </div>
                    <div class="col-md-3 fuente-pequeña">
                        Dirección <strong>Av del Pozo 3453, San Martín de Porres Lima Perú</strong><br />
                        Teléfono <strong>456-1234</strong><br />
                    </div>
                    <div class="col-md-3">
                        <div class="btn btn-primary fuente-seccion" style="border:none; margin-bottom: 3px; background-color: rgb( 180,30,34);padding: 5px 5px 5px 5px;">
                            <span>Eventos Nuevos </span>
                            <span class="badge">7</span>
                        </div>

                        <div class="btn btn-primary fuente-seccion" style="border: none; margin-bottom: 3px; background-color: rgb(233, 149, 34); padding: 5px 5px 5px 5px;">
                            <span>Mensajes Nuevos </span>
                            <span class="badge">4</span>
                        </div>
                        <div class="btn btn-primary fuente-seccion" style="border: none; margin-bottom: 3px; background-color: rgb(129, 130, 134); padding: 5px 5px 5px 5px; ">
                            <span>Invitaciones </span>
                            <span class="badge">3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-group" id="CriterioBusquedaPostulacion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" href="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                        Búsqueda
                    </a>
                </h5>
            </div>
            <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
                <div class="panel-body">
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <div class="input-group fuente-pequeña">
                                    <span class="input-group-addon fuente-pequeña">Palabra Clave</span>
                                    <input type="text" class="form-control fuente-pequeña" placeholder="Palabra clave">
                                </div>
                            </td>
                            <td style="text-align:right;">
                                <span class="col-md-6 btn-group">
                                    <button type="button" class="btn btn-default fuente-pequeña">Buscar</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusquedaAvanzada" style="padding: 2px 2px 2px 6px;">
                <h5 class="panel-title">
                    <a class="collapsed fuente-seccion" data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" href="#ColapsaBusquedaAvanzada" aria-expanded="false" aria-controls="ColapsaBusquedaAvanzada">
                        Búsqueda avanzada
                    </a>
                </h5>
            </div>
            <div id="ColapsaBusquedaAvanzada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CabeceraColapsaBusquedaAvanzada">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Sector</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Auditoría y Consultoría</option>
                                    <option value="1">Banca y Seguros</option>
                                    <option value="1">Construcción e Inmobiliaria</option>
                                    <option value="1">Energía</option>
                                    <option value="1">Industria</option>
                                    <option value="1">Servicios</option>
                                    <option value="1">Tecnología y Software</option>
                                    <option value="1">Telecomunicaciones</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon"># Empleados</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">De 1 a 10 empleados</option>
                                    <option value="1">De 11 a 50 empleados</option>
                                    <option value="1">De 51 a 100 empleados</option>
                                    <option value="1">De 101 a 500 empleados</option>
                                    <option value="1">Más de 500 empleados</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Locación</span>
                                <input type="text" class="form-control" placeholder="Locación">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Tipo</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Tiempo Completo</option>
                                    <option value="1">Medio tiempo</option>
                                    <option value="1">Temporal</option>
                                    <option value="1">De 101 a 500 empleados</option>
                                    <option value="1">Freelance</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Contrato</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">En Planilla</option>
                                    <option value="1">Por Honorarios</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">T.Cargo</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Practicante</option>
                                    <option value="1">Obrero</option>
                                    <option value="1">Empleado</option>
                                    <option value="1">Supervisor</option>
                                    <option value="1">Ejecutivo</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Cargo</span>
                                <input type="text" class="form-control" placeholder="Cargo ofrecido">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Carrera</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Ingeniería</option>
                                    <option value="1">Medicina</option>
                                    <option value="1">Empleado</option>
                                    <option value="1">Supervisor</option>
                                    <option value="1">Ejecutivo</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Especialidad</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">De Minas</option>
                                    <option value="1">Civil</option>
                                    <option value="1">Empleado</option>
                                    <option value="1">Supervisor</option>
                                    <option value="1">Ejecutivo</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Grado</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Técnico</option>
                                    <option value="1">Universitario</option>
                                    <option value="1">Post-Grado</option>
                                    <option value="1">Doctorado</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">% Match</span>
                                <input type="text" class="form-control" placeholder="Match">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Fase</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Revisión de CV</option>
                                    <option value="1">Primera Entrevista</option>
                                    <option value="1">Evaluaciones Psicológicas/Psicotécnicas</option>
                                    <option value="1">Examen Médico</option>
                                    <option value="1">Dinámica Grupal</option>
                                    <option value="1">Entrevista final</option>
                                    <option value="1">Contratación</option>
                                    <option value="1">Aviso finalizado</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Estado</span>
                                <select id="Lista" class="form-control">
                                    <option value="" selected>- - -</option>
                                    <option value="1">Pendiente de revisión</option>
                                    <option value="1">En proceso de selección</option>
                                    <option value="1">No has sido seleccionado</option>
                                    <option value="1">Oferta Laboral!</option>
                                </select>
                            </div>
                            <div class="input-group fuente-pequeña">
                                <span class="input-group-addon">Publicado el</span>
                                <input type="text" class="form-control" placeholder="Fecha de Publicación">
                            </div>
                            <br />
                            <div>
                                <button type="button" class="btn btn-default fuente-pequeña">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:0px 0px 0px 0px;">
        <div class="row grilla1-cabecera color-naranja">
            <div class="col-sm-1">Fecha Publicación</div>
            <div class="col-sm-2">Empresa</div>
            <div class="col-sm-2">Cargo</div>
            <div class="col-sm-1">Tipo Trabajo</div>
            <div class="col-sm-1">Horario</div>
            <div class="col-sm-2">Remuneración</div>
            <div class="col-sm-2">Cumplimiento</div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row grilla1-linea">
            <div class="col-sm-1 linea-destacada"><span>12/10/2014</span></div>
            <div class="col-sm-2 linea-destacada"><a href="#">Naviera Alcalá S.A.</a></div>
            <div class="col-sm-2 linea-destacada"><a href="..\Alumno\postulacionOferta2">Gerente de Servicios</a></div>
            <div class="col-sm-1"><span class="valor-palabra">Tiempo completo</span><span class="valor-icono2">I</span></div>
            <div class="col-sm-1"><span>09:00 a 18:00</span></div>
            <div class="col-sm-2"><span>S/.7,000 a S/.9,000</span></div>
            <div class="col-sm-2">
                <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                        90% Cumplimiento
                    </div>
                </div>
            </div>
            <div class="col-sm-1"><a href="..\Alumno\postulacionOferta2"><span class="fui" style="font-size:25px;">+</span></a></div>
        </div>
        <div class="row grilla1-linea">
            <div class="col-sm-1 linea-destacada"><span>11/10/2014</span></div>
            <div class="col-sm-2 linea-destacada"><a href="#">Pacifico S.A.</a></div>
            <div class="col-sm-2 linea-destacada"><a href="..\Alumno\postulacionOferta2">Jefe de Proyectos</a></div>
            <div class="col-sm-1"><span class="valor-palabra">Medio Tiempo</span><span class="valor-icono2">J</span></div>
            <div class="col-sm-1"><span>- a -</span></div>
            <div class="col-sm-2"><span>S/.3,000 a S/. 4,000</span></div>
            <div class="col-sm-2">
                <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100" style="width:79%;">
                        79% Cumplimiento
                    </div>
                </div>
            </div>
            <div class="col-sm-1"><a href="..\Alumno\postulacionOferta2"><span class="fui" style="font-size:25px;">+</span></a></div>
        </div>
        <div class="row grilla1-linea">
            <div class="col-sm-1 linea-destacada"><span>11/10/2014</span></div>
            <div class="col-sm-2 linea-destacada"><a href="#">Ameralica S.A.C.</a></div>
            <div class="col-sm-2 linea-destacada"><a href="..\Alumno\postulacionOferta2">Jefe de Sistemas</a></div>
            <div class="col-sm-1"><span class="valor-palabra">Tiempo Completo</span><span class="valor-icono2">I</span></div>
            <div class="col-sm-1"><span>08:00 a 17:00</span></div>
            <div class="col-sm-2"><span>S/.8,000 a S/. 10,000</span></div>
            <div class="col-sm-2">
                <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%;">
                        65% Cumplimiento
                    </div>
                </div>
            </div>
            <div class="col-sm-1"><a href="..\Alumno\postulacionOferta2"><span class="fui" style="font-size:25px;">+</span></a></div>
        </div>
        <div class="row grilla1-linea">
            <div class="col-sm-1 linea-destacada"><span>12/10/2014</span></div>
            <div class="col-sm-2 linea-destacada"><a href="#">Frenosa S.A.</a></div>
            <div class="col-sm-2 linea-destacada"><a href="..\Alumno\postulacionOferta2">Asesor para Roadmap Tecnológico</a></div>
            <div class="col-sm-1"><span class="valor-palabra">Freelance</span><span class="valor-icono2">L</span></div>
            <div class="col-sm-1"><span>- a -</span></div>
            <div class="col-sm-2"><span>S/.12,000 a S/. 15,000</span></div>
            <div class="col-sm-2">
                <div class="progress" style="background-color:white;margin:5px 10px 5px 10px;">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%;">
                        25% Cumplimiento
                    </div>
                </div>
            </div>
            <div class="col-sm-1"><a href="..\Alumno\postulacionOferta2"><span class="fui" style="font-size:25px;">+</span></a></div>
        </div>
        <br />
        <nav class="navbar-right">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("BPUTP BPEventos BPNoticias BPInicio").addClass("BPDirEmp");
    });


</script>


