@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Eventos";
}

<div class="container fuente-pequeña" style="margin-top:2px;">
    @{Html.RenderAction("VistaCabecera", "Alumno", new { colapsaDatos = " " });}
    @Html.Action("_Eventos", "Evento", new { Pantalla = "Alumno" })
</div>
<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta2 color-paleta3 color-paleta4").addClass("color-paleta5");
        $('#PestañaEventos').css('backgroundColor', '#f00');
    });
</script>
