@model UTP.PortalEmpleabilidad.Modelo.VistaPanelAlumno

@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Panel de Control";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="container" style="margin-top:2px;">

    @*Prueba de control de usuario*@
    @Html.Partial("_DatosPersonales", Model.Alumno)

    @*<div class="panel-group" id="datos-cuenta" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne" style="padding: 2px 2px 2px 6px;">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fuente-seccion">
                            Tu Cuenta -
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="col-md-4 fuente-seccion">
                            <table>
                                <tr>
                                    <td>
                                        <img class="foto-usuario" src="~/img/Alumna.png" />
                                    </td>
                                    <td style="vertical-align:top;">
                                        <strong>

                                            <br />
                                        </strong>
                                        <br />Ingeniería Industrial
                                        <br /><a href="#" class="fuente-pequeña">Modificar Datos ...</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4 fuente-pequeña">
                            Código <strong></strong><br />
                            DNI <strong></strong><br />
                            <strong></strong><br />
                            <strong></strong>

                        </div>
                        <div class="col-md-4 fuente-pequeña">
                            Dirección <strong></strong><br />
                            Teléfono <strong></strong><br />
                            Celular <strong></strong>
                        </div>

                    </div>
                </div>
            </div>

        </div>*@

    <div class="alert alert-danger" role="alert"><strong>¡Completa tu CV, está al 80%! &nbsp;&nbsp;&nbsp;<a href="../Alumno/MiCV">Ingresa aquí</a></strong></div>
    <div class="alert alert-warning" role="alert"><strong>Sin Postulaciones y sin trabajo por 3 semanas</strong></div>

    <div class="row">
        <div class="col-md-6 fuente-pequeña" style="border-right:solid;border-color:rgb(220, 220, 220);border-width:1px;">
            <h5>Pueden interesarte</h5>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/img/logos/logoibm.jpg" class="logo-empresa2" />
                </div>
                <div class="col-sm-8">
                    <a href="..\Alumno\PostulacionOferta2"><strong>Gerente de Proyectos en TI</strong></a>
                    <br />28/10/2014
                    <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            80% Cumplimiento
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/img/logos/logoeveris.jpg" class="logo-empresa2" />
                </div>
                <div class="col-sm-8">
                    <a href="..\Alumno\PostulacionOferta2"><strong>Consultor Senior</strong></a>
                    <br />28/10/2014
                    <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            75% Cumplimiento
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/img/logos/logoatos.jpg" class="logo-empresa2" />
                </div>
                <div class="col-sm-8">
                    <a href="..\Alumno\PostulacionOferta2"><strong>Jefe de Proyectos</strong></a>
                    <br />28/10/2014
                    <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                            72% Cumplimiento
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-md-6 fuente-pequeña">
            <h5>Nuevos Mensajes</h5>
            <hr />
            <div class="row">
                <div class="col-md-3"><strong>30/10/2014 20:12:12</strong><br /><a href="#">Contestar</a></div>
                <div class="col-md-9">
                    <strong>Bienvenido a la Postulación</strong>
                    <br />De: Criteria IT S.A.C.
                    <br />Oferta: <a href="../Alumno/PostulacionOferta">Gerente de Proyecto (Postulando)</a>
                    <br />Estimada Karina Barrionuevo, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, porttitor id dapibus tempor, consequat sed...<a href="#">Mostrar</a>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-md-3"><strong>30/10/2014 20:12:12</strong><br /><a href="#">Contestar</a></div>
                <div class="col-md-9">
                    <strong>Bienvenido a la Postulación</strong>
                    <br />De: IBM del Perú
                    <br />Oferta: <a href="../Alumno/PostulacionOferta">Jefe de Proyecto (Postulando)</a>
                    <br />Estimada Karina Barrionuevo, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, porttitor id dapibus tempor, consequat sed...<a href="#">Mostrar</a>
                </div>
            </div>
            <hr />
            <div class="row">

                <div class="col-md-3"><strong>30/10/2014 20:12:12</strong><br /><a href="#">Contestar</a></div>
                <div class="col-md-9">
                    <strong>Lo invitamos a Postular</strong>
                    <br />De:
                    Criteria IT S.A.C.

                    <br />Oferta: <a href="../Alumno/PostulacionOferta">
                        Analista de Sistemas
                    </a>
                    <br />Estimada Karina Barrionuevo, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, porttitor id dapibus tempor, consequat sed...<a href="#">Mostrar</a>
                </div>
            </div>

            <hr />
            <div class="row">

                <div class="col-md-3"><strong>30/10/2014 20:12:12</strong><br /><a href="#">Contestar</a></div>
                <div class="col-md-9">
                    <strong>Creemos que este trabajo es para usted</strong>
                    <br />De:
                    Criteria IT S.A.C.

                    <br />Oferta: <a href="../Alumno/PostulacionOferta">
                        Analista de Sistemas
                    </a>
                    <br />Estimada Karina Barrionuevo, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus sem, porttitor id dapibus tempor, consequat sed...<a href="#">Mostrar</a>
                </div>
            </div>
            <hr />


        </div>
        
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta2 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta1");
    });


</script>
