@using UTPPrototipo.Common
@model IEnumerable<UTP.PortalEmpleabilidad.Modelo.Vistas.Ofertas.VistaPostulacionAlumno>

@{
    Layout = "~/Views/Alumno/_LayoutAlumno.cshtml";
    ViewBag.Title = "Postulaciones";
}
@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#divFinalCabecera").removeClass("color-paleta1 color-paleta3 color-paleta4 color-paleta5").addClass("color-paleta3");
        $('#PestañaPostulacion').css('backgroundColor', '#f00');
        var ofertapostulacion = {
            IdAlumno: $('#IdAlumno').val(),
            PalabraClave: $('#IdPalabraClave').val(),
            PaginaActual: 1,
            NumeroRegistros: parseInt($("#PagOfertasPostulacion").val())
        };

        //CargarPOST("idResulBusPostulaciones", "/Alumno/BusquedaSimplePostulacionOferta", ofertapostulacion);
        CargarPOST("idResulBusPostulaciones", '@Url.Action("BusquedaSimplePostulacionOferta", "Alumno")', ofertapostulacion);

        $('#idBuscar').click(function () {
            var ofertapostulacion = {
                IdAlumno: $('#IdAlumno').val(),
                PalabraClave: $('#IdPalabraClave').val(),
                PaginaActual: 1,
                NumeroRegistros: 10, //parseInt($("#PagOfertasPostulacion").val())
            };
            //CargarPOST("idResulBusPostulaciones", "/Alumno/BusquedaSimplePostulacionOferta", ofertapostulacion);
            CargarPOST("idResulBusPostulaciones", '@Url.Action("BusquedaSimplePostulacionOferta", "Alumno")', ofertapostulacion);
        });

    });


</script>
<div class="container" style="margin-top:2px;">
   

    @{Html.RenderAction("VistaCabecera", "Alumno", new { colapsaDatos = " " });}
    <div class="panel-group" id="CriterioBusquedaPostulacion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="CabeceraColapsaBusqueda" style="padding: 2px 2px 2px 6px;">
                <div class="panel-title">
                    <div data-toggle="collapse" data-parent="#CriterioBusquedaPostulacion" data-target="#ColapsaBusqueda" aria-expanded="true" aria-controls="ColapsaBusqueda" class="fuente-seccion">
                        <span role="button">Búsqueda</span>
                        <span class="glyphicon pull-right" role="button"></span>
                    </div>
                </div>
            </div>
            <div id="ColapsaBusqueda" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="CabeceraColapsaBusqueda">
                <div class="panel-body fuente-pequeña">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">Palabra Clave</span>
                                <input type="text" class="form-control" id="IdPalabraClave" placeholder="Busqueda por cargo">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="btn btn-default fa fa-search color-paleta3" id="idBuscar"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin:0px 0px 0px 0px;" id="idResulBusPostulaciones">

    </div>
</div>


<div class="modal" id="Modal-datos-empresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="Modal-Nuevo-empresa">
    </div>    
</div>

<script>

    //Este método es el llamado por la paginación en la lista de postulaciones del alumno.
    function buscarPaginacion(nroPagina) {
        var ofertapostulacion = {
            IdAlumno: $('#IdAlumno').val(),
            PalabraClave: $('#IdPalabraClave').val(),
            PaginaActual: nroPagina,
            NumeroRegistros: 10, //parseInt($("#PagOfertasPostulacion").val())
        };
        //CargarPOST("idResulBusPostulaciones", "/Alumno/BusquedaSimplePostulacionOferta", ofertapostulacion);
        CargarPOST("idResulBusPostulaciones", '@Url.Action("BusquedaSimplePostulacionOferta", "Alumno")', ofertapostulacion);
    }

</script>