


@model  UTPPrototipo.Models.ViewModels.VistaPanelAlumnoMiCV

<div class="col-sm-2">
    <div class="progress">
        <div class="progress-bar color-paleta4" role="progressbar" aria-valuenow="@Model.PorcentajeCV" aria-valuemin="0" aria-valuemax="100" style="width: @Model.PorcentajeCV%;">
            <span>@Model.PorcentajeCV%</span>
        </div>
    </div>
</div>
