

<div class="col-sm-2" style="text-align:center;">
    <div class=" progress">
    <div class="progress-bar color-paleta4" role="progressbar" aria-valuenow="@ViewBag.PorcentajeCV" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PorcentajeCV%;">
        <span>@ViewBag.PorcentajeCV%</span>
    </div>
</div>
</div>
